<footer>
    <p>    
        Northwestern University
    </p>
    {% assign options = "lecture,homework,project,tutorial,page" | split: ',' %}
    {% if options contains page.type %}
        {% assign prefix = page.path | slice: 0, 5 %}
        {% if prefix == "pages" %}
            {% assign edit_path = "https://github.com/nu-tech-ethics/winter2021/tree/master/" | append: page.path %}
        {% else %}
        {% assign edit_path = "https://github.com/nu-tech-ethics/winter2021/tree/master/pages/" | append: page.path %}
        {% endif %}
        <a class="edit-page" title="edit (by permssion only)" href="{{edit_path}}" target="_blank">Edit <i class="fas fa-pencil-alt"></i></a>
    {% endif %}

</footer>
