---
layout: default
---

{% assign everything = site.assignments | concat: site.lectures %}
{% assign dates = everything | sort: 'due_date'| map: 'due_date' | uniq %}

<section class="readings">
{{content}}
{% assign last_group = 0 %}
{% for date in dates %}
    {% assign lecture = site.lectures | where: 'due_date', date | last %}
    {% if lecture.group != last_group %}
        {% if last_group != 0 %}
            </tbody></table>
        {% endif %}
        <h2>
            {% if lecture.group == 1 %}
                I. Morality, Ethics, & Human Values
            {% elsif lecture.group == 2 %}
                II. Theories of Technology & Society
            {% else %}
                III. Computing Infrastructures
            {% endif %}
        </h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Topic</th>
                    <th>Readings</th>
                    <th>Due</th>
                </tr>
            </thead>
            <tbody>
    {% endif %}
    {% assign last_group = lecture.group %}
    <tr>
        <td>
            {{ date | date: "%a, %m/%d" }}
        </td>
        {% if lecture %}
            <td>{{lecture.title}}</td>
            <td>
                {% if lecture.readings %}
                    {% assign page = lecture %}
                    {% include page_readings.html %} 
                {% endif %}
            </td>
        {% else %}
            <td></td>
            <td></td>
        {% endif %}
        <td>
            {% assign assignments = site.assignments | where: 'due_date', date %}
            <!-- {% if assignments.first %}
                <strong>Due:</strong>
            {% endif %} -->
            {% for assignment in assignments %}
                {% if assignment.draft == 1 %}
                    {{ assignment.title }}
                {% else %} 
                    <a href="{{site.baseurl}}{{assignment.url}}">
                        {{ assignment.title }}
                    </a>
                {% endif %} 
            {% endfor %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
</section>
